{
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "semi": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "importOrder": [
    "^react$",
    "^@core/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^actions",
    "^@ui/actions",
    "^assets",
    "^[@]/assets",
    "^@ui/components",
    "^@ui/assets",
    "^[@]/components",
    "^@repo",
    "^@repo/ui/lib",
    "^@repo/ui",
    "^@ui/lib",
    "^[@]/lib",
    "^lib",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
